.containerPerfil .añadirAlumnos{
    display: none;
}
.tagsPerfil{
    margin-left: 12.5rem;
    margin-top: 2rem;
    height: 2.3rem;
 
    
}
.containerPerfil .contenido{
margin-left: 14rem;
}
.containerPerfil .modal-content{
    margin-left: -18rem;
    height: 400px;
}
.containerPerfil .NombreCandidatos p{
    margin-left: 85rem;
}
.containerPerfil .butonContratado{
    margin-left: 66.7rem;
}
